<div id="<%= dom_id recipe %>" class='main-recipe-details'>
    <h2><%= recipe.name %></h2>
    <strong>Preparation time: <%= recipe.preparation_time %></strong>
    <strong>Cooking time: <%= recipe.cooking_time %></strong>
    <div>
      <strong>Description:</strong>
      <%= recipe.description %>
    </div>

    <strong class="public">Public: <%= recipe.public %></strong>
</div>
