<div class=container>
  <p style="color: green"><%= notice %></p>
  <div class="recipe-detail">
    <%= render @recipe %>
  </div>
  <div class="act-btns">
    <button type="button" class="edit-btn btn"><%= link_to "Edit", edit_recipe_path(@recipe) %></button>
    <button type="button" class="back-btn btn"><%= link_to "Back", recipes_path %></button>
    <button type="button" class="gen-btn btn"> <%=link_to 'Generate shopping list', general_shopping_list_path%></button>
    <button type="button" class="add-btn btn">Add Ingredient</button>
  </div>
</div>
