<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <a href="/users/<%=@user.id%>/foods/<%=food.id%>"><%= render food %></a>

  <% end %>
</div>

<%= link_to "New food", new_user_food_path %>
<br/>
<button type="button"><%= link_to "Back to User", @user %></button>
